services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      REDIS_ADDR: "redis:6379"
    depends_on:
      - redis
